@import "variable"
@import "color"

*
    margin: 0
    padding: 0
    box-sizing: border-box
    outline: none

body
    font-family: 'lato', 'Times New Roman', Times, serif
    overflow-x: hidden

a:hover
    color: $cCoral

li
    list-style-type: ""

p
    margin-bottom: 0

input::-webkit-inner-spin-button
    -webkit-appearance: none

.wrapper
    min-height: 100vh
    @include flx(flex, column nowrap, start, normal)

.flex1
    flex: 1

.alignment
    max-width: $width75
    margin: 0 auto

.fonMenu
    background: $cBlack

.menu
    &__flex
        @include flx(flex, row nowrap, space-between, center)
        padding: 20px 0

.menuLeft, .menuRight
    display: flex
    align-items: center

//---menuRight1--------------------------------------------------
.menuRight1
    position: relative
    &::before
        content: ""
        display: block
        height: 20px
        width: 20px
        background-color: white
        position: absolute
        top: 35px
        left: 7px
        z-index: -1
        transform: rotate(45deg)
        border-top: 1px solid gray
        border-left: 1px solid gray
        transition: z-index 400ms ease-out
    &:hover .menuBlock
        top: 0
        border-top: 1px solid transparent
    &:hover::before
        z-index: 0
    &:hover .menuTranparent
        display: block
    &:hover .menuBlockWrapper
        top: 45px
        transition: top 10ms ease-out
//---menuRight1--------------------------------------------------

.menuTranparent
    display: none
    height: 50px
    width: 70px
    background-color: transparent
    position: absolute
    top: 25%
    left: 0%

.menuBlockWrapper
    background-color: transparent
    display: block
    width: 280px
    height: 750px
    left: 0
    top: -750px
    position: absolute
    z-index: 1
    overflow: hidden
    border-radius: 5px
    transition: top 10ms 400ms ease-out

//---menuBlock----------------------------------------------------
.menuBlock
    background-color: #FFFFFF
    display: flex
    width: 280px
    left: 0
    top: -750px
    padding: 0 10px 10px 10px
    position: absolute
    flex-direction: column
    border-radius: 5px
    border: 1px solid rgb(202, 198, 198)
    transition: top 400ms ease-out
    &ButtonClose
        text-decoration: none
        margin: 0 0 0 auto
        width: 20px
        text-align: center
        font-size: 20px
        color: rgb(100, 94, 94)
        &:hover
            color: $cCoral
    &Name
        display: block
        padding: 0 0 10px 30px
        font-weight: 900
        text-decoration: none
        color: $cBlack
    &Name1
        display: block
        padding: 10px 0 10px 30px
        font-weight: 900
        text-decoration: none
        color: $cCoral
    &Name2
        text-decoration: none
        color: $cBlack
        display: block
        padding: 3px 0 3px 55px
//---menuBlock----------------------------------------------------

.top
    background: $cPink
    &Txt
        @include txt(400, 24px, 29px)
        text-transform: uppercase
        color: $cCoral
    &__alignment
        padding: 60px 0
        margin: 0 auto

.product
    &__flex
        @include flx(flex, row nowrap, space-between, normal)
        margin: 90px auto 0
        &_1
            @include flx(flex, column nowrap, space-between, normal)

.productBlock
    width: $width75/1.6
    height: 300px
    position: relative
    margin: 15px 0
    background: $cWhite1
    box-shadow: 10px 10px 15px $cGray1
    &__flex
        @include flx(flex, row nowrap, start, normal)

//---productBlockText------------------------------------------    
.productBlockText
    width: 100%
    min-height: 160px
    padding: 30px
    &__flex
        @include flx(flex, column nowrap, start, normal)
        &_row
            @include flx(flex, row nowrap, start, normal)
    &__img
        width: 257px
        height: 100%
        overflow: hidden
    &__txt
        @include txt(400, 24px, 29px)
        margin: 0 0 50px 0
        text-transform: uppercase
        &_1
            @include txt(400, 22px, 26px)
            padding: 3px 0
            color: $cGray2
        &_2
            @include txt(400, 22px, 26px)
            color: $cCoral
        &_3
            display: inline
            padding: 2px 4px 2px 4px
            text-align: center
            border: 1px solid $cGray
    &ButtonClose
        @extend .menuBlockButtonClose
        line-height: 22px
    &Button
        width: $width75/1.6
        &__flex
            @include flx(flex, row nowrap, space-between, normal)
//---productBlockText------------------------------------------

.img
    width: 100%

.button
    @include btn(400, 16px, 19px, 14px 18px, 48px 0 95px 0, $cGray2, $cWhite, border-box, 1px solid $cGray2, none, center)
    display: block
    width: 220px
    transition: box-shadow 400ms ease-out, color 400ms ease-out, background-color 400ms ease-out
    &:hover
        box-shadow: inset 0px 0px 100px 30px $cCoral
        color: $cWhite

//---adress-------------------------------------------------------
.adress
    &__flex
        @include flx(flex, column nowrap, flex-start, normal)
        margin: 20px 0 0 120px
        flex-grow: 1
    &__txt
        @include txt(300, 16px, 19px)
    &__input
        @include txt(400, 14px, 17px)
        margin: 20px 0
        color: $cBlack
        opacity: 0.67
        background-color: $cWhite
        height: 49px
        padding: 0 20px
    &__input::placeholder
        transition: color 400ms ease-out
    &__input:hover::placeholder
        color: $cWhite
    &__button
        margin: 20px 0
        padding: 14px 18px
        width: 150px
//---adress-------------------------------------------------------

//---grandTotal---------------------------------------------------
.grandTotal
    padding: 35px 30px
    margin: 40px 0 0 0
    background-color: #F5F3F3
    width: 100%
    height: 210px
    &__flex
        @include flx(flex, column nowrap, start, flex-end)
    &__txt
        @include txt(400, 11px, 13px)
        padding: 0 0 5px 0
        color: $cGray2
        &_1
            @include txt(300, 16px, 19px)
        &_2
            @include txt(400, 16px, 19px)
            color: $cCoral
    &Line
        padding: 10px
        width: 100%
        border-bottom: 1px solid $cGray1
    &__button
        padding: 14px 18px
        margin: 20px 0 0 0
        box-shadow: inset 0px 0px 100px 30px $cCoral
        border: 1px solid $cCoral
        color: $cWhite
        width: 100%
        &:hover
            background-color: $cWhite
            color: $cCoral
            border: 1px solid $cCoral
            box-shadow: inset 0px 0px 100px 30px $cWhite
//---grandTotal---------------------------------------------------

.fonFooter
    background: $cBlack

.footer
    background-image: url(../../images/footer_fon.jpg)
    height: 448px
    background-size: cover
    background-position: center
    &__flex
        @include flx(flex, row nowrap, space-around, normal)

.footerBlockLeft
    max-width: 360px
    &__flex
        @include flx(flex, column nowrap, center, center)
    &__txt
        @include txt(400, 20px, 24px)
        text-align: center
        color: $cBlack
    &Bottom
        width: 100%
        height: 100px

//---footerBlockRight---------------------------------------------
.footerBlockRight
    max-width: 360px
    &__flex
        @include flx(flex, column nowrap, center, center)
    &__flexRow
        @include flx(flex, row nowrap, center, center)
        &_1
            margin-top: 32px
    &__txt
        @include txt(700, 24px, 29px)
        text-align: center
        color: $cBlack
        &_1
            @include txt(400, 18px, 21px)
            text-align: center
            color: $cBlack
    &__input
        @include txt(400, 14px, 17px)
        color: $cBlack
        opacity: 0.67
        background-color: $cGray
        height: 49px
        padding: 0 20px
        border-radius: 10px 0 0 10px
        transition: color 400ms ease-out
        &:hover
            opacity: 0.8
    &__input::placeholder
        @include txt(400, 14px, 17px)
        color: $cBlack
        transition: color 400ms ease-out
    &__input:hover::placeholder
        color: $cGray
    &__button
        @include txt(400, 14px, 17px)
        color: $cWhite
        background-color: $cCoral
        border: 1px solid $cCoral
        border-radius: 0 10px 10px 0
        margin: 0 0 0 -2px
        width: 100px
        height: 49px
        &:hover
            background-color: $cWhite
            color: $cCoral
            box-shadow: none
    &Bottom
        width: 100%
        height: 40px
//---footerBlockRight---------------------------------------------

//---footerBottom-------------------------------------------------
.footerBottom
    align-items: center
    &__flex
        @include flx(flex, row nowrap, space-between, center)
        &_right
            @include flx(flex, row nowrap, space-between, normal)
            width: 150px
    &__txt
        @include txt(400, 16px, 19px)
        color: $cWhite
        margin: 30px 0
    &__button
        width: 32px
        height: 32px
        padding: 4px 0 0 0
        text-align: center
        margin: 0
        &:hover
            background-color: $cCoral
            box-shadow: none
//---footerBottom-------------------------------------------------
